
/* button{
  background-color: lightseagreen;
  padding: 1rem 1.3rem;
  margin: 1rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}

form input{
  padding: 1rem 2rem;
  font-size: 1rem;
  font-weight: bold;
} */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 3rem;
  background-color: grey;
}
.flex{
  display: flex;
  gap: 1rem;
  font-size: 1.1rem;
}
h1{
  font-size: 1.8rem;
}